testes.txt.py
.~lock.Relatório.odt#
Relatório.odt
Relatório.pdf
Trabalho 2.zip
analisador_preditivo/Descrição Gramática Trabalho 5 Parte 2.odt
Trabalho Final/__pycache__/lexical_analyser.cpython-37.pyc
Trabalho Final/__pycache__/LexicalAnalyser.cpython-37.pyc
Trabalho Final/__pycache__/WeakPrecedenceAnalyzer.cpython-37.pyc
